<h1>Your Dashboard</h1>

{{#each posts}}
    <!-- passing into the template so that I don't have to repeat -->
    {{> post-template title=title postStamp=postStamp content=content id=id }}

{{/each}}

<button class="">+ New Post</button>