<h1>The Tech Blog</h1>

{{#each posts}}
    <div class="blog-post">
        <div class="post-head">
            <a href="/post/{{id}}"><h2>{{title}}</h2></a>
            <p>{{postStamp}}</p>
        </div>
        <p>{{content}}</p>
    </div>

{{/each}}