<div class="container">
  <h1>Edit Post</h1>
  <div id="updateForm">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" value="{{post.title}}">
    </div>
    <div>
      <label for="content">Body</label>
      <textarea name="content" id="content" class="form-control" rows="10">{{post.content}}</textarea>
    </div>
    <button id="updatePostBTN">Update Post</button>
  </div>
  <button id="deletePostBTN" data-id="{{post.id}}">Delete Post</button>
</div>